name: CI
on:
  pull_request:
    branches:
      - master
      - gitactions

jobs:
  flutter_test:
    name: Run flutter test and analyze
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "1.8"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter pub get
      - run: flutter test integration_test/connexion.dart
